* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*O box-sizing define como o navegador calcula as larguras e alturas dos elementos. */
  font-family: Arial, Helvetica, sans-serif;
}

.sobre-container {
    /* 1. Aparência da Caixa */
    border-radius: 10px;
    border: 3px solid cadetblue;

    /*dimençãoes da caiza*/
    width: 80%; /* Define a largura da caixa */
    max-width: 800px; /* limita o tamanho maximo para telas grandes */
    padding: 30px; /* Adiciona respiro dentro da caixa (essencial) */

    margin: 50px auto; /* 50px de margem superior/inferior e 'auto' para centralizar */

    background-color: rgba(255, 255, 255, 0.05);
    /* ESSENCIAL: Garante que a animação será suave e uniforme */
    transition: all 0.4s ease-in-out; 
    
    /* Dá um pouco de profundidade, mesmo no estado normal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 

}

.sobre-container:hover {
    /* Levanta o card no eixo Z (efeito 3D) */
    transform: translateY(-8px); 
    
    /* Aumenta a sombra para dar a sensação de mais profundidade */
    box-shadow: 0 15px 30px rgba(0, 123, 255, 0.6); 
}




.sobre-container h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
     margin-bottom: 30px; /* Adiciona um espaço de 30px abaixo do título */
}


.sobre-container p {
    font-size: 1.15rem;
    letter-spacing: 1px; /*espaço entre letras */
    line-height: 20px; /* espaço para linhas */
    color: #fff;
    text-align: center; /* ALINHA O TEXTO DOS PARÁGRAFOS AO CENTRO */
    margin-bottom: 15px; /* Adiciona um espaço entre os parágrafos, se necessário */
}

